footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  border-radius: 25px 25px 0 0;
  width: 100%;
  min-height: 250px;
  background: #000;
}

.container {
  padding: 50px 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #fff;
}

.listUnstyled {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 20px;
}

.text {
  color: #fff;
  max-width: 1000px;
  margin-top: 20px;
}

.listInline {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 20px;
}

.block2,
.block3 {
  display: flex;
  flex-direction: column;
}

.blockTitle {
  color: #fff;
}

.payImg {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.payImg img {
  width: 100px;
}
